body, html {
  margin: unset;
  height: 800px;
}

.siblingSplash{
		background-image: url("./images/aemma_cover_new2b.jpg");
    background-repeat: no-repeat;
    background-position: center;
	  background-size: cover;
    width: 100%;
    height: 100%;
}

.childSplash{
    /*border-style: solid;*/
    position: fixed;
    width: 28%;
    height: 44%;
    top: 34%;
    left: 36.5%;
}

.childSplash a{
	display: block;
  width: 100%;
  height: 100%;
}

.parentSplash {position: relative}
.parentSplash:hover {background-image: url("./images/aemma_cover_new2b.jpg")}
.parentSplash .siblingSplash:hover {background-image: url("./images/aemma_cover_new2a.jpg")}
.parentSplash .siblingSplash {padding-bottom: 26px}
.parentSplash .childSplash {position: absolute; bottom: 0}

